# For remote
NEXT_PUBLIC_SUPABASE_URL=""
NEXT_PUBLIC_SUPABASE_ANON_KEY=""
NEXT_PUBLIC_SITE_URL="http://localhost:3000"
PROJECTID="xxxx"

# For local
SUPABASE_LOCAL_URL=""
SUPABASE_LOCAL_ADMIN_KEY=""
SUPABASE_LOCAL_ANON_KEY=""
SUPABASE_LOCAL_DB_URL=""
